@import url('../../../default.css');
.shop-card{
max-width: 260px;
height: 300px;
text-align: center;
background-color: white;
padding-bottom: 1rem;
border-radius: 1.5rem;
margin: 0 auto;

}
.shop-card img{
width: 100% !important;
height: 70%;
border-radius: 1.5rem 1.5rem 0rem 0rem;
}
.shop-card .rating{
    color: #fab700;
    font-size: 1rem;
    padding: .5rem;
    text-align: center;
}
.shop-card h4{
    color: var(--primary-color);
}