.CategoryScroller{
    padding: 1.5rem 4rem;
}
.CategoryScroller .home-heading{
    padding: 1.5rem 0rem;
}



/* .alice-carousel__next-btn{
    display: none;
}
.alice-carousel__prev-btn{
    display: none;
} */